h2 {
    text-align: center;
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
}


.task-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}


.task-card {
    width: 250px;
    height: 180px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    font-size: 16px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    background: white;
    place-items: center;
     text-transform: capitalize;
}

.estado-tarea {
    color: green;
    font-size: 1rem;
}

.texto-tarea {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    font-style: italic;
}

.delete {
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.delete:hover {
    color: darkred;
}