
:host {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


input {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 14px;
  width: 250px;
  outline: none;
}


button {
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background: #f0f0f0;
}
